.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: 0.2s;
  background-color: var(--blue);
  height: 45px;
  &:hover {
    transform: translate(0, -0.3rem);
    box-shadow: 0 1rem 2rem var(--blue-dot2);
  }
  &:active {
    transform: translate(0, -0.1rem);
  }
  &__secondary {
    background-color: var(--gray);
  }
}
