.productItem {
  padding: 3rem;
  width: 30rem;
  border: 1px solid var(--gray4);
  border-radius: 7px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 253, 0.4);
  p {
    margin-top: 1rem;
  }
  @media screen and (max-width: 767px) {
    width: 25rem;
    padding: 2.5rem;
  }
}
